.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-size: 30px;
  margin-bottom: 30px;
  font-family: "Protest Guerrilla", sans-serif;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  border: 1px solid rgb(238, 226, 226);
  border-radius: 8px;
  outline: none;
}

.search-button {
  padding: 10px 20px;
  background-color: #8d0baa;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 5px;
  transition: 0.5s all ease;
  color: #fafafa;
}

.search-button:hover {
  background-color: #b610db;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.movie-card {
  background-color: #8d0baa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px #534f4f;
}

.movie-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.movie-card h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.movie-card p {
  font-size: 14px;
  margin-bottom: 5px;
}
